/* Default Light Theme */
body {
	font-family: Arial, sans-serif;
	background-color: #66fcd7;
	color: #333;
	margin: 0;
	padding: 20px;
}

header {
	text-align: center;
	margin-bottom: 30px;
}

#profile-img {
	width: 150px;
	border-radius: 50%;
}

button {
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
}

/* Achievements Section */
#achievements ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px;
  padding: 0;
  margin: 0;
}

#achievements li {
  list-style: none;
}


/* Certificate Image Styling */
.certificate {
	display: inline-block;
	text-align: center;
	margin: 20px 0;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cert-img {
	max-width: 100%;
	width: 200px;
	height: auto;
	border: 2px solid #333;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Dark Theme */
body.dark {
	background-color: #01211c;
	color: #f5f5f5;
}

/* Dark Theme - Certificate */
body.dark .certificate {
	background-color: #1e1e1e;
	box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

body.dark .cert-img {
	border: 2px solid #f5f5f5;
	box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}
